

<div class="acr-auth-container">
    <div class="acr-auth-content">
  
      <form method="post">
  
        <div class="auth-text">
            <br><br><br><br>
          <h3>Create an account with <br> đất liền</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
        </div>
  
        <div class="form-group">
          <label>Username</label>
          <input type="text" class="form-control form-control-light" placeholder="Username" name="username" value="">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" [(ngModel)]="registerUserData.email" name="email" class="form-control form-control-light" placeholder="Email" required>
          </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" [(ngModel)]="registerUserData.password" name="password" class="form-control form-control-light" placeholder="Password" name="password" required>
        </div>
        <div class="form-group">
          <a href="#" class="forgot-password">Forgot Password?</a>
        </div>
        <button (click)="registerUser()" class="btn-custom secondary btn-block">Register</button>
        <div class="auth-seperator">
          <span>OR</span>
        </div>
        <div class="social-login">
          <button type="button" class="acr-social-login facebook"><i class="fab fa-facebook-f"></i> Continue with Facebook </button>
          <button type="button" class="acr-social-login google"><i class="fab fa-google"></i> Continue with Google</button>
        </div>
        <p class="text-center mb-0"> <a routerLink='/login'> Already have an Account ?</a> </p>
  
      </form>
    </div>
    <div class="acr-auth-bg">
      <div class="acr-auth-bg-slider acr-cs-bg-slider">
        <div class="acr-auth-bg-item bg-cover bg-center" style="background-image: url('assets/img/coming-soon/2.jpg')">
        </div>
      </div>
    </div>
  </div>
  