<!-- Preloader Start -->
<div class="acr-preloader">
    <div class="acr-preloader-inner">
      <div class="lds-grid"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
  </div>
  <!-- Preloader End -->

  <div class="aside-overlay aside-trigger"></div>

  <!-- Header Start -->
  <header class="main-header header-fw can-sticky header-1">

    <!-- Top Header Start -->
    <div class="top-header">
      <div class="top-header-inner">

        <ul class="social-media">
          <li> <a href="#"> <i class="fab fa-facebook-f"></i> </a> </li>
          <li> <a href="#"> <i class="fab fa-pinterest-p"></i> </a> </li>
          <li> <a href="#"> <i class="fab fa-linkedin-in"></i> </a> </li>
          <li> <a href="#"> <i class="fab fa-twitter"></i> </a> </li>
        </ul>

        <ul class="top-header-nav">
          <li> <a routerLink='/login' routerLinkActive="active"> Login</a> </li>
          <li>or</li>
          <li> <a routerLink='/register' routerLinkActive="active"> Signup</a> </li>
        </ul>
      </div>
    </div>
    
    <nav class="navbar">

        <!-- Logo -->
        <a class="navbar-brand" href="#"> <img src="assets/img/logo.png" alt="logo"> </a>
        <!-- Menu -->
        <ul class="navbar-nav">
          <li class="menu-item menu-item-has-children">
            <a href="#">Builders In India</a>
            <ul class="submenu">
              <li class="menu-item"> <a href="#">Builder v1</a> </li>
              <li class="menu-item"> <a href="#">Builder v2</a> </li>
              <li class="menu-item"> <a href="#">Builder v3</a> </li>
              <li class="menu-item"> <a href="#">Builder v4</a> </li>
              <li class="menu-item"> <a href="#">Builder v5</a> </li>
            </ul>
          </li>
          <li class="menu-item menu-item-has-children">
            <a href="#">Customer Service</a>
            <ul class="submenu">
              <li class="menu-item menu-item-has-children">
                <a href="#">Blog Archive</a>
                <ul class="submenu">
                  <li class="menu-item"> <a href="#">Grid View</a> </li>
                  <li class="menu-item"> <a href="#">List View</a> </li>
  
                </ul>
              </li>
              <li class="menu-item">
                <a href="#">Blog Single</a>
              </li>
            </ul>
          </li>
          <li class="menu-item menu-item-has-children mega-menu-wrapper">
            <a href="#">Buy Our Service</a>
            <ul class="submenu">
              <li>
                <img src="assets/img/megamenu.png" alt="img">
                <div class="container">
                  <div class="row">
  
                    <div class="col-lg-4">
                      <div class="mega-menu-item">
                        <h5>Featured Listings</h5>
                        <p>
                          Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC,
                          making it over 2000 years old.
                        </p>
                        <a href="#" class="btn-custom secondary">View All</a>
                      </div>
                    </div>
  
                    <div class="offset-lg-1 col-lg-3">
                      <div class="mega-menu-item">
                        <h5>Pages</h5>
                        <a href="#">About Us</a>
                        <a href="#">Services</a>
                        <a href="#">FAQ</a>
                        <a href="#">Pricing</a>
                        <a href="#">Contact Us</a>
                      </div>
                    </div>
  
                    <div class="col-lg-4">
                      <div class="mega-menu-item">
                        <h5>Other Pages</h5>
                        <a href="coming-soon.html">Coming Soon</a>
                        <a href="#">404 Page</a>
                        <a href="#">Login</a>
                        <a href="#">Register</a>
                        <a href="#">Legal</a>
                      </div>
                    </div>
  
                  </div>
                </div>
              </li>
  
            </ul>
          </li>
          <li class="menu-item menu-item-has-children">
            <a href="#">Listings</a>
            <ul class="submenu">
              <li class="menu-item menu-item-has-children">
                <a href="#">Listings Archive</a>
                <ul class="submenu">
                  <li class="menu-item"> <a href="#">Grid View</a> </li>
                  <li class="menu-item"> <a href="#">List View</a> </li>
                  <li class="menu-item"> <a href="#">Map View</a> </li>
                </ul>
              </li>
              <li class="menu-item menu-item-has-children">
                <a href="#">Listing Details</a>
                <ul class="submenu">
                  <li class="menu-item"> <a href="#">Listing Details v1</a> </li>
                  <li class="menu-item"> <a href="#">Listing Details v2</a> </li>
                  <li class="menu-item"> <a href="#">Listing Details v3</a> </li>
                </ul>
              </li>
              <li class="menu-item"> <a href="#">Submit Listing</a> </li>
              <li class="menu-item"> <a href="#">Compare Listings</a> </li>
            </ul>
          </li>
          <li class="menu-item menu-item-has-children">
            <a href="agent-archive.html">Agents</a>
            <ul class="submenu">
              <li class="menu-item"> <a href="agent-archive.html">Agents Archive</a> </li>
              <li class="menu-item"> <a href="agent-details.html">Agent Details</a> </li>
              <li class="menu-item menu-item-has-children">
                <a href="profile.html">Agent Profile</a>
                <ul class="submenu submenu-right">
                  <li class="menu-item"> <a href="profile.html">My Account</a> </li>
                  <li class="menu-item"> <a href="profile-listings.html">My Listings</a> </li>
                  <li class="menu-item"> <a href="profile-saved-listings.html">Saved Listings</a> </li>
  
                </ul>
              </li>
            </ul>
          </li>
          <li class="menu-item menu-item-has-children">
            <a href="#">Agency</a>
            <ul class="submenu">
              <li class="menu-item"> <a href="#">Agency Archive</a> </li>
              <li class="menu-item"> <a href="#">Agency Details</a> </li>
            </ul>
          </li>
        </ul>
  
        <div class="header-controls">
          <ul class="header-controls-inner d-none d-lg-flex">
            <li>
              <a routerLink='/submitlisting' class="btn-custom primary">Submit Listing <i class="fas fa-plus"></i> </a>
            </li>
          </ul>
          <!-- Toggler -->
          <div class="aside-toggler aside-trigger" onclick="callMenuToggler()">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
  
      </nav>
  
    </header>
  
<div class="container">
  <router-outlet></router-outlet>            
</div>

  <!-- Footer Start -->
  <footer class="acr-footer footer-2">

    <!-- Footer Middle Start -->
    <div class="footer-middle">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-sm-12 footer-widget">
            <div class="footer-logo">
              <div class="row">
                <div class="col-lg-9">
               <img src="assets/img/logo2.png" alt="logo" width="800px" height="700px">
                </div>
                <div class="col-lg-3">
               <h1>đất liền</h1>
             </div> 
              </div>
            </div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </p>
            <div class="dropdown acr-language-selector">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="assets/img/flags/united-states.png" alt="flag">
                <span>English</span>
              </a>
              <div class="dropdown-menu">
                <ul>
                  <li> <a href="#"><img src="assets/img/flags/germany.png" alt="flag"> German</a> </li>
                  <li> <a href="#"><img src="assets/img/flags/russia.png" alt="flag"> Russian</a> </li>
                  <li> <a href="#"><img src="assets/img/flags/united-states.png" alt="flag">English</a> </li>
                  <li> <a href="#"><img src="assets/img/flags/spain.png" alt="flag"> Spanish</a> </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-2 offset-lg-1 col-sm-4 footer-widget">
            <h5 class="widget-title">Menu</h5>
            <ul>
              <li> <a href="#">Find Home</a> </li>
              <li> <a href="#">Add Listing</a> </li>
              <li> <a href="#">Listings</a> </li>
              <li> <a href="#">Blog</a> </li>
            </ul>
          </div>
          <div class="col-lg-2 col-sm-4 footer-widget">
            <h5 class="widget-title">Information</h5>
            <ul>
              <li> <a href="#">About Us</a> </li>
              <li> <a href="#">Contact Us</a> </li>
              <li> <a href="#">Services</a> </li>
              <li> <a href="#">FAQ</a> </li>
            </ul>
          </div>
          <div class="col-lg-2 col-sm-4 footer-widget">
            <h5 class="widget-title">Legal</h5>
            <ul>
              <li> <a href="#">Privacy Policy</a> </li>
              <li> <a href="#">Refund Policy</a> </li>
              <li> <a href="#">Cookie Policy</a> </li>
              <li> <a href="#">Legal Terms</a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer Middle End -->

    <!-- Footer Bottom Start -->
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <p class="m-0">&copy; Copyright 2020 - <a href="https://datlien.ga/">Team  đất liền</a> All Rights Reserved.</p>
          </div>
          <div class="col-lg-5">
            <ul>
              <li> <a href="#">Find a Home</a> </li>
              <li> <a href="#">Add Listing</a> </li>
              <li> <a href="#">View Agencies</a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer Bottom End -->
  </footer>